{% extends 'themes/base_admin.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block description %}Liste des articles{% endblock %}

{% block keywords %}admin, article{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des articles</h1>

    <div class="d-flex justify-content-end align-items-center my-3">
        <a href="{{path('admin_post_create')}}" class="btn btn-primary shadow"><i class="fa-solid fa-plus"></i> Nouvel article</a>
    </div>

    <div class="table-responsive">
        <table id="myTable" class="table table-striped table-hover text-center table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Publié?</th>
                    <th>Le contenu</th>
                    <th>Créé le</th>
                    <th>Modifié le</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{post.id}}</td>
                        <td>
                            {% if post.image %}
                                <img width="100" height="100" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('admin_post') }}" alt="{{ post.title }}">
                            {% else %}
                                <span>---</span>
                            {% endif %}
                        </td>
                        <td>{{post.title}}</td>
                        <td>{{post.category.name}}</td>
                        <td class="d-flex flex-column justify-content-center align-items-center">
                            {% if post.isPublished %}
                                <span>Publié le {{post.publishedAt|format_date()}}</span>
                            {% else %}
                                <span>Pas encore</span>
                            {% endif %}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch">
                            </div>
                        </td>
                        <td>
                            <a href="" class="btn btn-sm btn-dark">Lire</a>
                        </td>
                        <td>{{post.createdAt|format_date()}}</td>
                        <td>{{post.updatedAt|format_date()}}</td>
                        <td>
                            <a href="" class="btn btn-sm btn-secondary">Modifier</a>
                            <form class="d-inline" action="" method="post">
                                <input type="hidden" name="_csrf_token" value="{{csrf_token('delete_post_'~post.id)}}">
                                <input onclick="return confirm('Confirmer la suppression?')" type="submit" class="btn btn-sm btn-danger" value="Supprimer">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}